body{
    font-family: 'Poppins', sans-serif;
}
li{
    display: inline-block;
    margin:20px ;
    font-weight: bold;
    font-size: large;
}
.orange-highlight{
    color: #FABE4C;
    text-transform: uppercase;
    font-weight: bold;
}
h1{
    font-size: 70px;
}
.blue-highlight{
    color: #363958;
    text-transform: uppercase;
    font-weight: bold;

}

.button-1{
   border-radius: 10px;
   background-color: #8EA926;
   color: white;
   font-weight: bold;

}
.button-1 img{
    height: 30px;
    width: 30px;
}
.banner-color{
    background-color: #FFFBF0;
}
.jacket-card{
    border: 0;
    border-radius: 20px;
    padding: 10px;
}
.jacket-card-footer{
    border: 0;
    background-color: white;
}
h2{
    font-size: 25px;
}
.jacket-card img{
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 10px;
    height: 400px;
    width: 100%;
}
h5{
    font-weight: bold;
}
.footer-img img{
    width: 100%;
    height: 100%;
}
.icon-img img{
    height: 80px;
    width: 80px;
}